.container {
  display: inline-block;
  color: #fff;
  height: 100vh;
  margin-bottom: -100px;
  padding-bottom: 125px;
  position: relative;
  width: 100vw;
  margin-top: 90px;
  overflow: hidden;
}
.container:after {
  display: inline-block;
  background: linear-gradient(
    -80deg,
    #181818 25%,
    hsla(0, 0%, 9%, 0) 66.32%,
    #181818 88.28%
  );
  background-size: cover;
  content: "";
  height: 100%;
  right: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100%;
}
.container_video {
  background-size: cover;
  right: -200px;
  z-index: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 1500px;
}
.container_text {
  height: 100%;
  padding: 75px 165px 130px;
  position: relative;
  width: 1170px;
  z-index: 50;
}
.container_text__h1 {
  font-size: 54px;
  font-weight: 100;
  line-height: 125%;
  margin-bottom: 32px;
  text-transform: uppercase;
  width: 620px;
}
.container_text__span {
  font-weight: 900;
}
.container_text__p {
  color: #afafaf;
  font-size: 20px;
  font-weight: 300;
  line-height: 170%;
  margin-bottom: 50px;
  width: 575px;
}
.container_text__p > span {
  font-weight: 900;
  color: #fff;
}
.container_text__firstButton {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #3f9c14 inset, 0 0 0 0 #3f9c14;
  color: #eaeaea;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 20px 40px rgba(63, 156, 20, 0.3));
  filter: drop-shadow(0 20px 40px rgba(63, 156, 20, 0.3));
  font-size: 15px;
  font-weight: 800;
  height: 78px;
  line-height: 1.43;
  margin-left: 7px;
  text-align: center;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  transition: all 0.2s ease-in-out;
  width: 274px;
}
.container_text__firstButton:hover {
  background-color: transparent;
  box-shadow: 0 0 40px 40px transparent inset, 0 0 0 3px #3f9c14;
}
