.container {
  margin: 0 auto;
  margin-top: 120px;
  min-height: 500px;
  padding-bottom: 50px;
  width: 1170px;
}
.container_header {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 100%;
  margin-bottom: 42px;
}
.container_settings {
  display: flex;
  justify-content: space-between;
}
.container_settings__filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 800px;
}
.filterItem {
  align-items: center;
  background: #242424;
  border: 1px solid #454545;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  height: 46px;
  justify-content: center;
  line-height: 143%;
  padding: 0 25px;
}
.filterItemSelected {
  background-color: #3f9c14;
}
.container_settings__age {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.gamesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 65px;
  width: 100%;
}
.gamesContainer_item {
  background: #1c1c1c;
  border: 1px solid #454545;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 370px;
}
.button {
  background-color: #242424;
  border: 1px solid #454545;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 800;
  height: 78px;
  line-height: 143%;
  margin: 41px auto 0;
  text-align: center;
  width: 370px;
}
.button:hover {
  background-color: #3f9c14;
}
.image {
  border-radius: 20px 20px 0 0;
  height: 335px;
  min-height: 335px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.name {
  padding: 5px;
  width: 101%;
}
.h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  line-height: 36px;
  margin-bottom: 6px;
  text-transform: uppercase;
  margin-top: 0;
}
.p {
  font-size: 12px;
  font-weight: 300;
  height: 80px;
  line-height: 18px;
}
.genre {
  display: flex;
  gap: 8px;
  left: 20px;
  position: absolute;
  top: 20px;
  border-radius: 10px;
  background-color: rgb(138, 138, 138);
}
.genre_item {
  align-items: center;
  border-radius: 10px;
  color: #fff;
  display: flex;
  padding: 5px 10px;
  margin: 0;
}
.free {
  display: flex;
  gap: 8px;
  position: absolute;
  border-radius: 10px;
  background-color: #3f9c14;
  right: 20px;
  top: 20px;
}
